.header {
    background-color: lightgray;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.header_nav ul {
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-between;
    padding-right: 130px;
}
.header_nav ul li {
    display: flex;
    color: black;
    font-size: 20px;
}
.header_nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.header_nav ul li button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
